# CALIDAD DE DATOS

## IMPORTAR PAQUETES

In [107]:
import numpy as np
import pandas as pd
from janitor import clean_names

#Automcompletar r√°pido
%config IPCompleter.greedy=True

## IMPORTAR LOS DATOS

Sustituir la ruta del proyecto.

In [108]:
ruta_proyecto = 'C:/Users/Marius/EstructuraDirectorio/03_MACHINE_LEARNING/06_CASOS/01_LEADSCORING'

Sustituir el nombre_fichero_datos.

In [109]:
nombre_fichero_datos = 'trabajo.csv'

Cargar los datos.

In [110]:
ruta_completa = ruta_proyecto + '/02_Datos/03_Trabajo/' + nombre_fichero_datos

df = pd.read_csv(ruta_completa,index_col='id',sep=',')
df

,origen,fuente,no_enviar_email,no_llamar,compra,visitas_total,tiempo_en_site_total,paginas_vistas_visita,ult_actividad,ambito,ocupacion,conociste_google,conociste_revista,conociste_periodico,conociste_youtube,conociste_facebook,conociste_referencias,score_actividad,score_perfil,descarga_lm
id,,,,,,,,,,,,,,,,,,,,
660737,API,Chat,No,No,0,0.0,0,0.00,Page Visited on Website,Select,Unemployed,No,No,No,No,No,No,15.0,15.0,No
660728,API,Organic Search,No,No,0,5.0,674,2.50,Email Opened,Select,Unemployed,No,No,No,No,No,No,15.0,15.0,No
660719,Landing Page Submission,Direct Traffic,No,No,0,1.0,305,1.00,Unreachable,Media and Advertising,Unemployed,No,No,No,No,No,No,13.0,17.0,No
660681,Landing Page Submission,Google,No,No,1,2.0,1428,1.00,Converted to Lead,Select,Unemployed,No,No,No,No,No,No,15.0,18.0,No
660664,API,Chat,No,No,0,0.0,0,0.00,Chat Conversation,NaN,NaN,No,No,No,No,No,No,15.0,15.0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
579615,Landing Page Submission,Direct Traffic,No,No,1,5.0,210,2.50,SMS Sent,Business Administration,Unemployed,No,No,No,No,No,No,14.0,20.0,No
579564,Landing Page Submission,Direct Traffic,Yes,No,1,8.0,1845,2.67,Email Marked Spam,IT Projects Management,Unemployed,No,No,No,No,No,No,15.0,17.0,No
579546,Landing Page Submission,Direct Traffic,No,No,0,2.0,238,2.00,SMS Sent,Media and Advertising,Unemployed,No,No,No,No,No,No,14.0,19.0,Yes
579538,Landing Page Submission,Google,No,No,1,3.0,499,3.00,SMS Sent,Human Resource Management,NaN,No,No,No,No,No,No,15.0,16.0,No
579533,Landing Page Submission,Direct Traffic,No,No,1,6.0,1279,3.00,SMS Sent,Supply Chain Management,Unemployed,No,No,No,No,No,No,15.0,18.0,Yes

## VISI√ìN GENERAL

In [111]:
df.head()

,origen,fuente,no_enviar_email,no_llamar,compra,visitas_total,tiempo_en_site_total,paginas_vistas_visita,ult_actividad,ambito,ocupacion,conociste_google,conociste_revista,conociste_periodico,conociste_youtube,conociste_facebook,conociste_referencias,score_actividad,score_perfil,descarga_lm
id,,,,,,,,,,,,,,,,,,,,
660737,API,Chat,No,No,0,0.0,0,0.0,Page Visited on Website,Select,Unemployed,No,No,No,No,No,No,15.0,15.0,No
660728,API,Organic Search,No,No,0,5.0,674,2.5,Email Opened,Select,Unemployed,No,No,No,No,No,No,15.0,15.0,No
660719,Landing Page Submission,Direct Traffic,No,No,0,1.0,305,1.0,Unreachable,Media and Advertising,Unemployed,No,No,No,No,No,No,13.0,17.0,No
660681,Landing Page Submission,Google,No,No,1,2.0,1428,1.0,Converted to Lead,Select,Unemployed,No,No,No,No,No,No,15.0,18.0,No
660664,API,Chat,No,No,0,0.0,0,0.0,Chat Conversation,NaN,NaN,No,No,No,No,No,No,15.0,15.0,No

In [75]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6365 entries, 660737 to 579533
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   origen                 6365 non-null   object
 1   fuente                 6348 non-null   object
 2   no_enviar_email        6365 non-null   object
 3   no_llamar              6365 non-null   object
 4   compra                 6365 non-null   int64
 5   visitas_total          6287 non-null   float64
 6   tiempo_en_site_total   6365 non-null   int64
 7   paginas_vistas_visita  6287 non-null   float64
 8   ult_actividad          6308 non-null   object
 9   ambito                 5353 non-null   object
 10  ocupacion              4494 non-null   object
 11  conociste_google       6365 non-null   object
 12  conociste_revista      6365 non-null   object
 13  conociste_periodico    6365 non-null   object
 14  conociste_youtube      6365 non-null   object
 15  conociste_facebook     6365 non-null   object
 16  conociste_referencias  6365 non-null   object
 17  score_actividad        3472 non-null   float64
 18  score_perfil           3472 non-null   float64
 19  descarga_lm            6365 non-null   object
dtypes: float64(4), int64(2), object(14)
memory usage: 1.0+ MB

## TIPOS DE DATOS

### Identificaci√≥n

In [112]:
df.dtypes
#visitas_total seria int64

origen                    object
fuente                    object
no_enviar_email           object
no_llamar                 object
compra                     int64
visitas_total            float64
tiempo_en_site_total       int64
paginas_vistas_visita    float64
ult_actividad             object
ambito                    object
ocupacion                 object
conociste_google          object
conociste_revista         object
conociste_periodico       object
conociste_youtube         object
conociste_facebook        object
conociste_referencias     object
score_actividad          float64
score_perfil             float64
descarga_lm               object
dtype: object

### Correcci√≥n

In [114]:
df = df.astype({'visitas_total':'Int64'})

df.dtypes

origen                    object
fuente                    object
no_enviar_email           object
no_llamar                 object
compra                     int64
visitas_total              Int64
tiempo_en_site_total       int64
paginas_vistas_visita    float64
ult_actividad             object
ambito                    object
ocupacion                 object
conociste_google          object
conociste_revista         object
conociste_periodico       object
conociste_youtube         object
conociste_facebook        object
conociste_referencias     object
score_actividad          float64
score_perfil             float64
descarga_lm               object
dtype: object

## VALORES √öNICOS

### Identificaci√≥n

In [116]:
df.nunique().sort_values()

conociste_youtube           1
conociste_revista           1
descarga_lm                 2
conociste_referencias       2
no_enviar_email             2
no_llamar                   2
compra                      2
conociste_facebook          2
conociste_periodico         2
conociste_google            2
origen                      4
ocupacion                   6
score_perfil               10
score_actividad            12
ult_actividad              15
fuente                     16
ambito                     19
visitas_total              36
paginas_vistas_visita     103
tiempo_en_site_total     1591
dtype: int64

In [79]:
df.conociste_youtube.value_counts()
df.conociste_revista.value_counts()
#Una variable que tiene un unico es una constante, por tanto la eliminamos

No    6365
Name: conociste_revista, dtype: int64

### Correcci√≥n

In [117]:
df.drop(columns = ['conociste_youtube','conociste_revista'], inplace = True)

## DUPLICADOS

### Identificaci√≥n

In [119]:
df.duplicated().sum()

1066

### Correcci√≥n

In [120]:
df.drop_duplicates(inplace = True)

## SEPARAR NUM√âRICAS Y CATEG√ìRICAS

### Categ√≥ricas

In [122]:
cat = df.select_dtypes(exclude = 'number').copy()

In [123]:
cat

,origen,fuente,no_enviar_email,no_llamar,ult_actividad,ambito,ocupacion,conociste_google,conociste_periodico,conociste_facebook,conociste_referencias,descarga_lm
id,,,,,,,,,,,,
660737,API,Chat,No,No,Page Visited on Website,Select,Unemployed,No,No,No,No,No
660728,API,Organic Search,No,No,Email Opened,Select,Unemployed,No,No,No,No,No
660719,Landing Page Submission,Direct Traffic,No,No,Unreachable,Media and Advertising,Unemployed,No,No,No,No,No
660681,Landing Page Submission,Google,No,No,Converted to Lead,Select,Unemployed,No,No,No,No,No
660664,API,Chat,No,No,Chat Conversation,NaN,NaN,No,No,No,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...
579615,Landing Page Submission,Direct Traffic,No,No,SMS Sent,Business Administration,Unemployed,No,No,No,No,No
579564,Landing Page Submission,Direct Traffic,Yes,No,Email Marked Spam,IT Projects Management,Unemployed,No,No,No,No,No
579546,Landing Page Submission,Direct Traffic,No,No,SMS Sent,Media and Advertising,Unemployed,No,No,No,No,Yes
579538,Landing Page Submission,Google,No,No,SMS Sent,Human Resource Management,NaN,No,No,No,No,No
579533,Landing Page Submission,Direct Traffic,No,No,SMS Sent,Supply Chain Management,Unemployed,No,No,No,No,Yes

### Num√©ricas

In [124]:
num = df.select_dtypes(include='number').copy()

In [125]:
num

,compra,visitas_total,tiempo_en_site_total,paginas_vistas_visita,score_actividad,score_perfil
id,,,,,,
660737,0,0,0,0.00,15.0,15.0
660728,0,5,674,2.50,15.0,15.0
660719,0,1,305,1.00,13.0,17.0
660681,1,2,1428,1.00,15.0,18.0
660664,0,0,0,0.00,15.0,15.0
...,...,...,...,...,...,...
579615,1,5,210,2.50,14.0,20.0
579564,1,8,1845,2.67,15.0,17.0
579546,0,2,238,2.00,14.0,19.0
579538,1,3,499,3.00,15.0,16.0
579533,1,6,1279,3.00,15.0,18.0

## GESTI√ìN DE CATEG√ìRICAS

### Nulos

#### Identificaci√≥n

In [126]:
cat.isna().sum().sort_values(ascending = False)
#De cara a hacer un lead, la variable ocupacion es una de las variables mas relevantes, no debieramos eliminar nada, en este caso

ocupacion                1345
ambito                    486
ult_actividad              57
fuente                     13
origen                      0
no_enviar_email             0
no_llamar                   0
conociste_google            0
conociste_periodico         0
conociste_facebook          0
conociste_referencias       0
descarga_lm                 0
dtype: int64

#### Correcci√≥n

In [127]:
cat.ocupacion.value_counts()

Unemployed              3370
Working Professional     431
Student                  127
Other                     13
Housewife                  7
Businessman                6
Name: ocupacion, dtype: int64

In [51]:
cat.ambito.value_counts()

Select                               857
Finance Management                   670
Human Resource Management            556
Marketing Management                 543
Operations Management                343
Business Administration              261
IT Projects Management               258
Supply Chain Management              237
Banking, Investment And Insurance    225
Media and Advertising                151
Travel and Tourism                   140
International Business               119
Healthcare Management                109
E-COMMERCE                            81
Hospitality Management                78
Retail Management                     71
Rural and Agribusiness                50
E-Business                            42
Services Excellence                   22
Name: ambito, dtype: int64

In [52]:
cat.ult_actividad.value_counts()

Email Opened                    2003
SMS Sent                        1600
Page Visited on Website          456
Converted to Lead                298
Chat Conversation                290
Email Bounced                    204
Email Link Clicked               157
Form Submitted on Website         90
Unreachable                       66
Unsubscribed                      42
Had a Phone Conversation          25
View in browser link Clicked       5
Approached upfront                 4
Resubscribed to emails             1
Email Marked Spam                  1
Name: ult_actividad, dtype: int64

##### Imputar por un valor

###### Variables a imputar

In [128]:
cat.columns.to_list()

['origen',
 'fuente',
 'no_enviar_email',
 'no_llamar',
 'ult_actividad',
 'ambito',
 'ocupacion',
 'conociste_google',
 'conociste_periodico',
 'conociste_facebook',
 'conociste_referencias',
 'descarga_lm']

In [129]:
var_imputar_valor = ['origen',
                     'fuente',
                     'no_enviar_email',
                     'no_llamar',
                     'ult_actividad',
                     'conociste_google',
                     'conociste_periodico',
                     'conociste_facebook',
                     'conociste_referencias',
                     'descarga_lm']

###### Valor por el que imputar

In [130]:
valor = 'DESCONOCIDO'

###### Imputar

In [131]:
cat[var_imputar_valor] = cat[var_imputar_valor].fillna(valor)

##### Imputar por la moda

###### Variables a imputar

In [132]:
var_imputar_moda = ['ocupacion','ambito']

###### Funcion para imputar con la moda

In [133]:
def imputar_moda(variable):
    return(variable.fillna(variable.mode()[0]))

###### Imputar con la moda

In [134]:
cat[var_imputar_moda] = cat[var_imputar_moda].apply(imputar_moda)

In [135]:
#VOLVEMOS A EJECUTAR PARA VER QUE EFECTIVAMENTE NO TENEMOS NULOS
cat.isna().sum().sort_values(ascending = False)

origen                   0
fuente                   0
no_enviar_email          0
no_llamar                0
ult_actividad            0
ambito                   0
ocupacion                0
conociste_google         0
conociste_periodico      0
conociste_facebook       0
conociste_referencias    0
descarga_lm              0
dtype: int64

### At√≠picos

#### Categor√≠as poco frecuentes

##### Funci√≥n para agrupar categor√≠as raras en 'OTROS'

In [136]:
def agrupar_cat_raras(variable, criterio = 0.05):
    #Calcula las frecuencias
    frecuencias = variable.value_counts(normalize=True)
    #Identifica las que est√°n por debajo del criterio
    temp = [cada for cada in frecuencias.loc[frecuencias < criterio].index.values]
    #Las recodifica en 'OTROS'
    temp2 = np.where(variable.isin(temp),'OTROS',variable)
    #Devuelve el resultado
    return(temp2)

In [137]:
#imputamos todo el dataframe ya que hay categorias raras, en variables como ocupacion,fuente,ambito
cat.ocupacion.value_counts()

Unemployed              4715
Working Professional     431
Student                  127
Other                     13
Housewife                  7
Businessman                6
Name: ocupacion, dtype: int64

##### Variables a imputar

In [138]:
var_agrupar_cat_raras = cat.columns.to_list()

##### Aplicar

In [139]:
for variable in var_agrupar_cat_raras:
    cat[variable] = agrupar_cat_raras(cat[variable],criterio = 0.02)

## GESTI√ìN DE NUM√âRICAS

### Nulos

#### Identificaci√≥n

In [140]:
num.isna().sum().sort_values(ascending = False)
#score_actividad y score_perfil no sabemos que importancia tienen, de momento lo imputamos por la mediana(es el valor mas seguro)
#si mas adelante vemos que no tiene mucha capacidad predictiva las eliminamos

score_actividad          2330
score_perfil             2330
visitas_total              78
paginas_vistas_visita      78
compra                      0
tiempo_en_site_total        0
dtype: int64

#### Correcci√≥n

##### Imputar por la mediana

###### Variables a imputar

In [141]:
#imputamos por la mediana todas esas variables, por si en un futuro nos encontramos nulos en algunas (para asegurar)
#este es un enfoque mas industrializado, y en categorias hacemos lo mismo
var_imputar_mediana = num.columns.to_list()

###### Funcion para imputar con la mediana

In [142]:
def imputar_mediana(variable):
    if pd.api.types.is_integer_dtype(variable):
        return(variable.fillna(int(variable.median())))
    else:
        return(variable.fillna(variable.median()))

###### Imputar con la mediana

In [143]:
num[var_imputar_mediana] = num[var_imputar_mediana].apply(imputar_mediana)

### At√≠picos

#### Por desviaci√≥n t√≠pica

##### Identificaci√≥n

###### Definir el n√∫mero de desviaciones t√≠picas

In [144]:
num_desv_tip = 4

###### Funci√≥n que devuelve los √≠ndices de los at√≠picos

In [145]:
def atipicos_desv_tip(variable, num_desv_tip = 4):
    #sacamos los nulos por ahora
    variable = variable.dropna()
    #calculamos los l√≠mites
    media = np.mean(variable)
    sd = np.std(variable)
    umbral = sd * num_desv_tip
    lim_inf = media - umbral
    lim_sup = media + umbral
    #encontramos los √≠ndices de los que est√°n fuera de los l√≠mites
    indices = [indice for indice,valor in variable.items() if valor < lim_inf or valor > lim_sup]
    return(indices)

###### Funci√≥n que cuenta el n√∫mero de at√≠picos

In [146]:
def conteo_atipicos(df,variable, num_desv_tip = 4):
    atipicos = atipicos_desv_tip(df[variable], num_desv_tip)
    return(df.loc[atipicos,variable].value_counts())

###### Variables a aplicar

In [147]:
var_atipicos_dt = num.columns.to_list()

###### Aplicar

In [148]:
for variable in var_atipicos_dt:
    print('\n' + variable + ':\n')
    print(conteo_atipicos(num,variable,num_desv_tip))

compra:

Series([], Name: compra, dtype: int64)

visitas_total:

20     8
21     5
25     5
23     5
24     4
22     3
27     3
29     2
28     2
43     1
74     1
41     1
115    1
32     1
26     1
42     1
Name: visitas_total, dtype: Int64

tiempo_en_site_total:

Series([], Name: tiempo_en_site_total, dtype: int64)

paginas_vistas_visita:

11.00    13
14.00     5
12.00     4
13.00     3
16.00     3
15.00     3
12.33     1
24.00     1
14.50     1
11.50     1
Name: paginas_vistas_visita, dtype: int64

score_actividad:

10.0    42
9.0      7
8.0      3
18.0     2
7.0      1
Name: score_actividad, dtype: int64

score_perfil:

Series([], Name: score_perfil, dtype: int64)

##### Correcci√≥n

#### Por winsorizaci√≥n manual para una variable

##### Correcci√≥n

###### Definir el m√≠nimo y m√°ximo tolerable.

In [150]:
num.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5299 entries, 660737 to 579533
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   compra                 5299 non-null   int64
 1   visitas_total          5299 non-null   Int64
 2   tiempo_en_site_total   5299 non-null   int64
 3   paginas_vistas_visita  5299 non-null   float64
 4   score_actividad        5299 non-null   float64
 5   score_perfil           5299 non-null   float64
dtypes: Int64(1), float64(3), int64(2)
memory usage: 424.0 KB

###### Aplicar

In [151]:
num['visitas_total'].clip(0,50, inplace=True)
num['paginas_vistas_visita'].clip(0,20, inplace=True)

In [155]:
num

,compra,visitas_total,tiempo_en_site_total,paginas_vistas_visita,score_actividad,score_perfil
id,,,,,,
660737,0,0,0,0.00,15.0,15.0
660728,0,5,674,2.50,15.0,15.0
660719,0,1,305,1.00,13.0,17.0
660681,1,2,1428,1.00,15.0,18.0
660664,0,0,0,0.00,15.0,15.0
...,...,...,...,...,...,...
579615,1,5,210,2.50,14.0,20.0
579564,1,8,1845,2.67,15.0,17.0
579546,0,2,238,2.00,14.0,19.0
579538,1,3,499,3.00,15.0,16.0
579533,1,6,1279,3.00,15.0,18.0

## GUARDAR DATASETS TRAS CALIDAD DE DATOS

Guarda los avances en df, cat y num con un sufijo para poder guardar o recuperar avances del proyecto.

En formato pickle para no perder las modificaciones de metadatos.

### Definir los nombres de los archivos

In [156]:
ruta_trabajo = ruta_proyecto + '/02_Datos/03_Trabajo/' + 'trabajo_resultado_calidad.pickle'
ruta_cat = ruta_proyecto + '/02_Datos/03_Trabajo/' + 'cat_resultado_calidad.pickle'
ruta_num = ruta_proyecto + '/02_Datos/03_Trabajo/' + 'num_resultado_calidad.pickle'

### Guardar los archivos

In [157]:
df.to_pickle(ruta_trabajo)
cat.to_pickle(ruta_cat)
num.to_pickle(ruta_num)